#!/bin/sh

echo
echo " ***********************ATTENTION************************"
echo " ***********************ATTENTION************************"
echo " ***********************ATTENTION************************"
echo " ***********************ATTENTION************************"
echo " * This server is configured using Ansible.              "
echo " * To change configuration, please modify the roles      "
echo " * PLEASE DO NOT CHANGE CONFIGURATION MANUALLY, THANKS   "
echo " ***********************ATTENTION************************"
echo " ***********************ATTENTION************************"
echo " ***********************ATTENTION************************"
echo
