# All variables needed to spin up services

# User specified
# These variables should be specified in a main config file.
# Should be shared with the main config terraform config file in some way.
# Don't want to require entries in multiple config files

# Common
DCOS_USERNAME="{{dcos_username}}"
DCOS_PASSWORD="{{dcos_password}}"
AWS_ACCESS_KEY_ID="{{apps_aws_access_key}}"
AWS_SECRET_ACCESS_KEY="{{apps_aws_secret_key}}"
RABBIT_HOSTS="{{rabbit_hosts}}"
RABBIT_USERNAME="{{rabbit_user}}"
RABBIT_PASSWORD="{{passwords['rabbit_password']}}"

# Aries
ARIES_DOCKER_IMAGE_VERSION="{{aries_docker_image_version}}"
ARIES_HTTP_SEARCH_USER_NAME="{{aries_http_search_user_name}}"
ARIES_HTTP_SEARCH_USER_PASSWORD"{{passwords['aries_http_search_user_password']}}"
ARIES_HTTP_COMMAND_USER_NAME="{{aries_http_command_user_name}}"
ARIES_HTTP_COMMAND_USER_PASSWORD="{{passwords['aries_http_command_user_password']}}"
ELASTIC_HOST="{{elastic_host}}"
ELASTIC_PORT={{elastic_port}}
ELASTIC_SSL={{elastic_ssl}}
ARIES_SRV_INSTANCES={{aries_srv_instances}}
ARIES_SRV_CPUS={{aries_srv_cpus}}
ARIES_SRV_MEM={{aries_srv_mem}}

# Baile
BAILE_DOCKER_IMAGE_VERSION="{{baile_docker_image_version}}"
BAILE_SRV_INSTANCES={{baile_srv_instances}}
BAILE_SRV_CPUS={{baile_srv_cpus}}
BAILE_SRV_MEM={{baile_srv_mem}}

# Baile Nginx
BAILE_NGINX_DOCKER_IMAGE_VERSION="{{baile_nginx_docker_image_version}}"
BAILE_NGINX_SRV_INSTANCES={{baile_nginx_srv_instances}}
BAILE_NGINX_SRV_CPUS={{baile_nginx_srv_cpus}}
BAILE_NGINX_SRV_MEM={{baile_nginx_srv_mem}}

# Cortex
CORTEX_DOCKER_IMAGE_VERSION="{{cortex_docker_image_version}}"
CORTEX_HTTP_SEARCH_USER_NAME="{{cortex_http_search_user_name}}"
CORTEX_HTTP_SEARCH_USER_PASSWORD="{{passwords['cortex_http_search_user_password']}}"
ARIES_REST_URL="{{aries_rest_url}}"
ARIES_REST_VERSION="{{aries_rest_version}}"
CORTEX_SRV_INSTANCES={{cortex_srv_instances}}
CORTEX_SRV_CPUS={{cortex_srv_cpus}}
CORTEX_SRV_MEM={{cortex_srv_mem}}

# Logstash
LOGSTASH_DOCKER_IMAGE_VERSION="{{logstash_docker_image_version}}"
LOGSTASH_SRV_INSTANCES={{logstash_srv_instances}}
LOGSTASH_SRV_CPUS={{logstash_srv_cpus}}
LOGSTASH_SRV_MEM={{logstash_srv_mem}}

# Orion
DOCKER_IMAGE_VERSION="{{docker_image_version}}"
HTTP_SEARCH_USER_NAME="{{http_search_user_name}}"
HTTP_SEARCH_USER_PASSWORD="{{passwords['http_search_user_password']}}"
ZOOKEEPER_URL="${DCOS_MASTER}:2181"
MARATHON_CLIENT_MARATHON_ENDPOINT="http://${DCOS_MASTER}:8080"
JOB_MASTER_START_TIMEOUT="{{job_master_start_timeout}}"
JOB_MASTER_HEARTBEAT_TIMEOUT="{{job_master_heartbeat_timeout}}"
JOB_MASTER_DOCKER_IMAGE="{{job_master_docker_image}}"
JOB_MASTER_MESOS_MASTER_ADDRESS="{{job_master_mesos_master_address}}"
JOB_MASTER_CPUS={{job_master_cpus}}
JOB_MASTER_MEMORY={{job_master_memory}}
JOB_MASTER_INSTANCES={{job_master_instances}}
JOB_MASTER_S3_ACCESS_KEY=${AWS_ACCESS_KEY_ID}
JOB_MASTER_S3_SECRET_KEY=${AWS_SECRET_ACCESS_KEY}
ORION_SRV_INSTANCES={{orion_srv_instances}}
ORION_SRV_CPUS={{orion_srv_cpus}}
ORION_SRV_MEM={{orion_srv_mem}}

# RabbitMQ
RMQ_DOCKER_IMAGE_VERSION="{{rmq_docker_image_version}}"
RMQ_SRV_INSTANCES={{rmq_srv_instances}}
RMQ_SRV_CPUS={{rmq_srv_cpus}}
RMQ_SRV_MEM={{rmq_srv_mem}}

# UM Service
UM_DOCKER_IMAGE_VERSION="{{um_docker_image_version}}"
UM_MONGODB_URI="{{um_mongodb_uri}}"
EMAIL_ON={{email_on}}
UM_SRV_INSTANCES={{um_srv_instances}}
UM_SRV_CPUS={{um_srv_cpus}}
UM_SRV_MEM={{um_srv_mem}}

# Generted during deployment
# These varibles should be generated during the deployment of the infrastructure.
# They should be pulled in after being created by the rest of the deployment.
# These should not have to be manually specified.
