---
# All variables with values ending in "_via_user_data" will be replaced via user data
bootstrap_url: http://bootstrap_dns_via_user_data:8080
cluster_name: '{{ cluster_name }}'

exhibitor_storage_backend: aws_s3
exhibitor_explicit_keys: 'true'
exhibitor_address: masters_elb_dns_via_user_data
#this instance needs an instance profile allowing it to access to the S3 bucket
#hence we're not going to use credentials here, will be removed soon.
#aws_access_key_id:
#aws_secret_access_key:
aws_region: aws_region_via_user_data
s3_bucket: {{ s3_bucket }}
s3_prefix: {{ s3_prefix }}
master_discovery: master_http_loadbalancer
num_masters: num_masters_via_user_data
resolvers:
{% for resolver in resolvers %}
- {{ resolver }}{{ '\n' }}
{%- endfor %}

dns_search: {{ dns_search }}

ip_detect_public_filename: /genconf/ip-detect-public

{% if enterprise_dcos == true %}
superuser_username: {{ superuser_username }}
superuser_password_hash: {{ superuser_password_hash }}
customer_key: {{ customer_key }}
security: {{ security }}
{% endif %}
